@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --main-font: 'Kumbh Sans', sans-serif;
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  --Dark-gray: hsl(0, 0%, 59%);
}
html {
  font-size: 18px; 
}
body {
  background-color: var(--Dark-cyan);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  background-image: url(/images/bg-pattern-top.svg),
                    url(/images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: left -770px top -600px,
                       right -770px bottom -1100px;

}
.container {
  position: absolute;
  inset: 0;
  margin: auto;
  background-color: white;
  max-width: 15rem;
  height: 18rem;
  border-radius: 10px;
  background: url(/images/bg-pattern-card.svg) no-repeat, white;
  background-size: 100% 40%;
  text-align: center;
  font-weight: 400;
  font-size: .9rem;
}
.container img{
  background-repeat: no-repeat;
  margin-top: 4.8rem;
  border-radius: 50%;
  width: 80px;
  border: 3px solid white;
}
.personal-info p {
  color: var(--Dark-gray);
  font-weight: 700;
  position: relative;
}
.personal-info p::after {
  content: "London";
  position: absolute;
  bottom: -1.3rem;
  left: 50%;
  transform: translate(-50% , 0);
  font-size: .8rem;
}
span,
.footer p {
  color: black;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  color: var(--Dark-gray);
  font-weight: 700;
  margin-top: -0.5rem;
}
.footer span {
  font-size: .6rem;
  color: var(--Dark-gray);
}
hr {
  margin-top: 2.4rem;
}

@media (min-width: 375px)  {
  body {
    background-position: right 50vw bottom 50vh ,
                         left 45vw top 45vh ;
  }
}
